.tt{
    font-size: 40px;
}

.lb{
    font-size: 20px;
    color: black;
}

.ip{
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 8;
    size: 20px 40px;
    width: 450px;
}

.btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    transition: 400ms;
}


.btn:hover{
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(165, 165, 165);
    transition: 500ms;
}