{% load static %}
<head>
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<title>LOGIN</title>
</head>
<body>
    <div id="header">
        <div class="buffer">
            <div class="buffer">
                <ul>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'one' %}">{{ request.user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="{% url 'create' %}">Add post</a></li>
                </ul>
                <h1 style="margin-top: 20px; font-size: 40px; color:rgb(76, 220, 51);">news</h1>
                <div class="ad"> <a href="{% url 'one' %}"><img src="{% static 'images/ad468x60.gif' %}" alt="" /></a> </div>
                <ol>
                    <li class="f"><a href="#">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="page.html">Demo Page</a></li>
                    <li><a href="contact.html">Contact Page</a></li>
                </ol>
                <form action="#">
                    <input type="text" name="s" id="s" value="" />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
<h1 class="tt">Login</h1>
<form action="" method="post">
    {% csrf_token %}
    <label class="lb" for="">Username</label><br>
    <input class="ip" name="username" placeholder="USERNAME" type="text"><br><br>
    <label class="lb" for="">Password</label><br>
    <input class="ip" name="password" placeholder="PASSWORD" type="password"><br><br>
    <button class="btn" type="submit">KIRISH</button>
</form>
</body>